<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is an index entry point for an express application</p>
  <hr class="my-4">
  <p>Replace this jumbotron with your own handlebars!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/otherPage" role="button">Learn more</a>
  </p>
</div>