
#slacktoon {
  margin-top:100px;
  width:250px;
  height:250px;
}


button.submit {
  text-align: center
}

#post textarea {
  resize: none;
}

.card-header,button.downVote,.card-body,
button.edit {
  float: right;

}

.card {
  margin: 25px 0;
}

 .btn-group {
  margin-left: 40px;
 }

 .name {

  margin-bottom: 30px;
 }

 .footer {
  
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: black;
   color: #fff;
   padding-top: 20px;
 }

.parallax-css {
  background: url('../images/background2.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

