/* Lopes additions */
.jumbotron{
  margin-top: 35px;
  background: rgba(0, 0, 0, 0.6);
  color: black;
}

#cardSection  {
  background-color: rgb(168, 221, 228);
  margin-bottom: 50px;
}


/* Lopes additions */

button.submit {
  float: right;
}

form#post {
  margin-top: 50px;
}

#post textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
  /* background-color:rgba(230, 224, 224, 0.89) */
}

.card {
  margin-bottom: 25px;
}


 .btn {
    width:100px;
    
 }

 .btn-group {
  margin-left: 40px;
 }

 .btn-light {
   margin-bottom:50px;
 }
